* {
    margin: 0;
    padding: 0;

}
body{
    background: url(/image/bag_simulateur.png ) no-repeat center/cover;
   
    
}

nav {
    display: flex;
    justify-content: space-between;

    height: 100px;



}

ul {
    display: flex;
}

li {
    color: #ffffff;
    margin: 10px;
    gap: 4px;
}

.loge_nav {
    width: 100px;
    height: 100px;

}

.page_aceuCOn {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

h1 {
    margin-top: 12px;
    font-size: 10px;
    color: #ffffff;

}
.container{
    background-color: #3a1ed8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 10px solid chocolate;
    margin: 0 335px;
    padding: 90px;
}
footer { margin-top:10px;
  background-color: #382794; 
  padding: 30px 20px;
  text-align: center;
}

footer img:first-child {
  width: 25px; 
  margin-bottom: 10px;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px; 
}


.btn {
    width: 10%;
    display: inline-block;
    height: 45px;

    background: #382794;
    border-radius: 10px;
    color: #ffffff;


}