* {
    margin: 0;
    padding: 0;

}

body {
    background: url(image/Bag_accueil.png)no-repeat center/cover;
    width: 100%;
  
   

}

nav {
    display: flex;
    justify-content: space-between;

    height: 100px;



}

ul {
    display: flex;
}

li {
    color: #ffffff;
    margin: 10px;
    gap: 4px;
}

.loge_nav {
    width: 100px;
    height: 100px;

}

.page_aceuCOn {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

h1 {
    margin-top: 12px;
    font-size: 10px;
    color: #ffffff;

}

.btn {
    width: 10%;
    display: inline-block;
    height: 45px;

    background: #382794;
    border-radius: 10px;
    color: #ffffff;
  
    left: 50%;
    position: absolute;
    bottom: 30px;
    margin-left: 500px;
    



}
footer { margin-top: 500px;
  background-color: #382794; 
  padding: 30px 20px;
  text-align: center;
}

footer img:first-child {
  width: 25px; 
  margin-bottom: 10px;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

